# .gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
out

# Env
.env.local

# Logs
app.log

# Test Artifacts
playwright-report/
test-results/
jules-scratch/
